button{
    background-color: rgb(0, 255, 26);
    margin: 2rem 2rem;
    padding: 1rem 3rem;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

button:hover{
    background-color: white;
    border: 3px solid  rgb(0, 255, 26);
    color: rgb(0, 255, 26);
}