.rating{
    padding: 0.3rem 1.5rem;
    color: #000;
    margin-left: 0.7rem;
    border-radius: 100rem;
    -webkit-border-radius: 100rem;
    -moz-border-radius: 100rem;
    -ms-border-radius: 100rem;
    -o-border-radius: 100rem;
}

.super_hit {
    background-color: #46f190;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.average {
    background-color: #f7dc6f;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.btn_superHit{
     background-color: #46f190;
     color: #000;
}

.btn_average{
     background-color: #f7dc6f;
     color: #000;
}

/* ul .Cards{
  width: 23rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 38rem;
  padding: 1rem;
  background-color: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.1) 5px 13px 20px 0px,rgba(14, 5, 5, 0.358) 5px 13px 20px 0px;
  border-radius: 2%;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  -ms-border-radius: 2%;
  -o-border-radius: 2%;
} */


a .Watch_Now {
  width: 100%;
  height: 37px;
  letter-spacing: 5px;
  font-weight: 500;
  font-size: larger;
  border: none;
  margin-top: 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

a .Watch_Now:hover {
  border: 2px solid #535bf2;
  cursor: pointer;
}