@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "urbanist", sans-serif;
}
html {
  font-size: 80%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

h2 {
  font-size: 1.7rem;
}

p,
li,
a,
label {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  color: var(--para-color);
  line-height: 1.5;
  font-weight: 500;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --heading-color: #000a19;
  --buttonColor: #2a2c30;
  --secondaryColor: #4b4f56;
  --borderColor: #e3eaf0;
  --backgroundColor: #f7f7f7;
  --backgroundSecondary: #fefefe;
  --textColor: #1e1f23;
  --anchorColor: #535bf2;
  --supporting-color: #ebf3fe;
  --para-color: #4f4f4f;
}

.banners {
  width: 100%;
  height: 170px;
  border-radius: 3%;
  -webkit-border-radius: 3%;
  -moz-border-radius: 3%;
  -ms-border-radius: 3%;
  -o-border-radius: 3%;
}

.container {
  max-width: 150rem;
  margin: 0 auto;
  padding: 3.6rem 20.4rem;
}

.grid {
  display: grid;
  gap: 6.6rem;
}

.grid-two-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three-cols {
  grid-template-columns: repeat(3, 1fr);
}

ul .Cards {
  width: 23rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 38rem;
  padding: 1rem;
  background-color: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.1) 5px 13px 20px 0px, rgba(14, 5, 5, 0.358) 5px 13px 20px 0px;
  border-radius: 2%;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  -ms-border-radius: 2%;
  -o-border-radius: 2%;
}

a .Watch_Now {
  width: 100%;
  height: 37px;
  letter-spacing: 5px;
  /* font-weight: 500; */
  font-size: larger;
  border: none;
  margin-top: 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

a .Watch_Now:hover {
  border: 2px solid #535bf2;
  cursor: pointer;
}